.Main-content h1{
    color: blue;
    text-align: center;
}

.Main-content button{
    color: rgb(250, 228, 228);
    background-color: rgba(5, 6, 20, 0.8);
    padding: 10px;
    border: 1px solid black;
    font-size: larger;
    transition: 0.3s;
}

.Main-content button:hover{
    cursor: pointer;
    background-color:  rgb(19, 56, 156);
}

.Main-content h2{
    color: rgb(16, 54, 136);
    text-align: center;
}